@import "variable.scss";
@import "mixin.scss";


body{
	font-family: Roboto, sans-serif;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}


.logo{
	font-family: 'Shrikhand', cursive;
}


.btn{
	@include centrer;
	@include ombre;
	height: 40px;
	background: linear-gradient(0.47turn,$secondaire,$primaire);
	border-radius: 30px;
	margin: auto;
	padding:5px;
	a{
		text-decoration: none;
		color: white;
		
	}
}

.titre{
	font-size: 20px;
	font-weight: 600;
}

.titre-vignette{
	font-size: 17px;
	font-weight: 600;

}

.header{
	@include ombre;
	background-color: white;
	position: relative;
	&__logo{
		text-align: center;
		font-size: 45px;
		margin: 0px;
	}
}
.intro{
	width: 100%;
	text-align: center;
	background-color: $fond;
	padding-bottom: 50px;

	&__localisation{
		@include centrer;
		background-color: darken($fond,7);
		
		p{
			margin-left: 20px;
		}
	}
	
	&__presentation{
		@include centrer-bloc;

		.intro__titre{
			padding-top: 20px;
			font-size: 25px;
			font-weight: 600;
		}
		.intro__decouvrez{
			font-size: 16px;
			padding-bottom:10px; 
		}
	}
	&__btn {
		@extend .btn;
		width: 200px;
	}
	
}



.fonctionnement{
	@include centrer-bloc;
	&__consigne{
		width: 100%;
		margin: auto;
		display: flex;
		margin-bottom: 40px;;

		.consigne__cercle{
			@include centrer;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: $primaire;
			color: white;
			margin-right: -20px;
			z-index: 2;
			margin-top: 35px;
			
		}
	}

	.consigne__flex{
		display: flex;
		align-items: center;
		width: 85%;
		padding: 10px;
		background-color: $fond;
		border-radius: 20px;
		@include ombre;
		margin:10px;
		
		i{
			color: grey;
		}
		i,p{
			margin-left: 25px;
		}
	}

}

.restaurant{
	width: 100%;
	background-color: $fond;
	padding: 30px 0px 30px 0px;

	a{
		text-decoration: none;
		color: black;
	}
	&__titre{
		@include centrer-bloc;
	}
	&__container{
		@include centrer-bloc;
		@include ombre;
		margin-top: 20px;
		border-radius: 20px;
		position: relative;
	
	}
	&__nouveau{
		font-weight: bold;
		padding: 7px;
		border-radius: 5px;
		position: absolute;
		top: 0;
		right: 10px;
		color: rgb(40, 116, 40);
		background-color:rgb(168, 240, 174) ;
	}

	
	&__legende{
		display: flex;
		justify-content: space-between;
		margin: 0px 15px 15px 15px ;
	}
	.fa-heart{
		font-size:30px;
		margin-top: 15px;
	}
	&__img{
		width:100%;
		height:200px;
		object-fit: cover;
		border-radius: 20px 20px 0px 0px;
	}
	
}

footer{
	background-color: rgb(63, 63, 63);
	color: white;
	padding: 20px;
	width: 100%;
	.footer__info-flex{
		display: flex;
		align-items: center;
		p{
			margin-left: 10px;
		}
	}
}



/* Pages 1,2,3,4---------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/




.header__flex{
	display: flex;
	align-items: center;
	justify-content: center;
	i{
		position: absolute;
		top: 20px;
		left:10px;
		font-size: 20px;
		color: black;

	}
}
.image-fond{
	width: 100%;
	height: 400px;
	object-fit: cover;
	margin-bottom: -50px;
	position: relative;
	z-index: 0;
}

.menu{
	position: relative;
	z-index: 1;
	padding: 20px;
	background-color: $fond;
	border-radius: 20px;

	&__resto-titre{
		font-family: 'Shrikhand', cursive;
	}

	&__titre-coeur{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__titre--ligne{
		margin-top: 40px;
		padding-bottom:10px;
		border-bottom: $tertiaire 2px solid;
		width: 50px;

	}
	&__vignette{
		background-color: white;
		border-radius: 15px;
		line-height: 2px;
		padding: 5px;
		margin-bottom: 20px;
		@include ombre;

		p{
			margin-left: 5px;
		}

	}
	&__vignette--flex{
		display: flex;
		justify-content: space-between;
		:first-child{
			width: 80%;
		}
	}
	
}

.page__bouton{
	margin-top: 50px;
	margin-bottom: 50px;
}

