.menu__titre-coeur, .header__flex, .fonctionnement .consigne__flex {
  display: flex;
  align-items: center;
}

.menu__vignette, .restaurant__container, .fonctionnement .consigne__flex, .header, .btn, .intro__btn {
  box-shadow: 0px 4px 7px #b6b6b6;
}

.restaurant__container, .restaurant__titre, .fonctionnement, .intro__presentation {
  width: 90%;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.logo {
  font-family: "Shrikhand", cursive;
}

.btn, .intro__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: linear-gradient(0.47turn, #FF79DA, #9356DC);
  border-radius: 30px;
  margin: auto;
  padding: 5px;
}
.btn a, .intro__btn a {
  text-decoration: none;
  color: white;
}

.titre {
  font-size: 20px;
  font-weight: 600;
}

.titre-vignette {
  font-size: 17px;
  font-weight: 600;
}

.header {
  background-color: white;
  position: relative;
}
.header__logo {
  text-align: center;
  font-size: 45px;
  margin: 0px;
}

.intro {
  width: 100%;
  text-align: center;
  background-color: #f7f7f7;
  padding-bottom: 50px;
}
.intro__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}
.intro__localisation p {
  margin-left: 20px;
}
.intro__presentation .intro__titre {
  padding-top: 20px;
  font-size: 25px;
  font-weight: 600;
}
.intro__presentation .intro__decouvrez {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 100;
  color: #5c5c5c;
}
.intro__btn {
  width: 200px;
}

.fonctionnement__consigne {
  width: 100%;
  margin: auto;
  display: flex;
  margin-bottom: 40px;
}
.fonctionnement__consigne .consigne__cercle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  margin-right: -20px;
  z-index: 2;
  margin-top: 35px;
}
.fonctionnement .consigne__flex {
  width: 85%;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 20px;
  margin: 10px;
}
.fonctionnement .consigne__flex i {
  color: grey;
}
.fonctionnement .consigne__flex i, .fonctionnement .consigne__flex p {
  margin-left: 25px;
}
.fonctionnement .consigne__flex:hover {
  background-color: #eafff9;
}
.fonctionnement .consigne__flex:hover i {
  color: #9356DC;
}

.restaurant {
  width: 100%;
  background-color: #f7f7f7;
  padding: 30px 0px 30px 0px;
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant__container {
  margin-top: 20px;
  border-radius: 20px;
  position: relative;
  background-color: white;
}
.restaurant__nouveau {
  font-weight: bold;
  padding: 7px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 10px;
  color: #287428;
  background-color: #a8f0ae;
}
.restaurant__legende {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px 15px 15px;
}
.restaurant .fa-heart {
  font-size: 30px;
  margin-top: 15px;
}
.restaurant__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

footer {
  background-color: #3f3f3f;
  color: white;
  padding: 20px;
  width: 100%;
}
footer .footer__info-flex {
  display: flex;
  align-items: center;
}
footer .footer__info-flex p {
  margin-left: 10px;
}

/* Pages 1,2,3,4---------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/
.header__flex {
  justify-content: center;
}
.header__flex i {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 20px;
  color: black;
}

.image-fond {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: -50px;
  position: relative;
  z-index: 0;
}

.menu {
  position: relative;
  z-index: 1;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 20px;
}
.menu__resto-titre {
  font-family: "Shrikhand", cursive;
}
.menu__titre-coeur {
  justify-content: space-between;
}
.menu__titre--ligne {
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: #99E2D0 2px solid;
  width: 50px;
}
.menu__vignette {
  background-color: white;
  border-radius: 15px;
  line-height: 2px;
  padding: 5px;
  margin-bottom: 20px;
}
.menu__vignette p {
  margin-left: 5px;
}
.menu__vignette--flex {
  display: flex;
  justify-content: space-between;
}
.menu__vignette--flex :first-child {
  width: 80%;
}

.page__bouton {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*# sourceMappingURL=style.css.map */
