.menu__titre-coeur, .header__flex, .fonctionnement .consigne__flex {
  display: flex;
  align-items: center;
}

.menu__vignette, .restaurant__container, .fonctionnement .consigne__flex, .header, .btn, .intro__btn {
  box-shadow: 0px 4px 7px #b6b6b6;
}

.restaurant__container, .restaurant__titre, .fonctionnement, .intro__presentation {
  width: 90%;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  animation: body 3s linear;
}

.loader {
  width: 100%;
  position: absolute;
  background-color: white;
  z-index: -10;
  animation: loader 3s linear;
  display: flex;
  justify-content: center;
}
.loader .load {
  position: fixed;
  top: 42%;
  left: 45%;
  width: 100px;
  height: 100px;
  border: 10px solid #FF79DA;
  border-radius: 50%;
  animation: load 1s linear;
  animation-iteration-count: 3;
  opacity: 0;
}

@keyframes loader {
  0% {
    height: 600%;
    z-index: 10;
  }
  100% {
    height: 600%;
    z-index: 10;
  }
}
@keyframes load {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.logo {
  font-family: "Shrikhand", cursive;
}

.btn, .intro__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: linear-gradient(0.47turn, #FF79DA, #9356DC);
  border-radius: 30px;
  margin: auto;
  padding: 5px;
  transition: box-shadow 100ms linear;
}
.btn:hover, .intro__btn:hover {
  box-shadow: 0px 10px 7px #b6b6b6;
  background: linear-gradient(0.47turn, #ff93e1, #a16be0);
}
.btn a, .intro__btn a {
  text-decoration: none;
  color: white;
}

.titre {
  font-size: 20px;
  font-weight: 600;
}

.titre-vignette {
  font-size: 16px;
  font-weight: 600;
}

.header {
  background-color: white;
  position: relative;
}
.header__logo {
  text-align: center;
  font-size: 45px;
  margin: 0px;
}

.intro {
  width: 100%;
  text-align: center;
  background-color: #f7f7f7;
  padding-bottom: 50px;
}
.intro__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}
.intro__localisation p {
  margin-left: 20px;
}
.intro__presentation .intro__titre {
  padding-top: 20px;
  font-size: 25px;
  font-weight: 600;
}
.intro__presentation .intro__decouvrez {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 100;
  color: #5c5c5c;
}
.intro__btn {
  width: 200px;
}

@media screen and (min-width: 700px) and (max-width: 2000px) {
  .fonctionnement__titre {
    text-align: center;
  }
}
.fonctionnement__consigne {
  width: 100%;
  margin: auto;
  display: flex;
  margin-bottom: 40px;
}
@media screen and (min-width: 700px) and (max-width: 2000px) {
  .fonctionnement__consigne {
    width: 70%;
  }
}
.fonctionnement__consigne .consigne__cercle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  margin-right: -20px;
  z-index: 2;
  margin-top: 35px;
}
.fonctionnement .consigne__flex {
  width: 85%;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 20px;
  margin: 10px;
}
.fonctionnement .consigne__flex i {
  color: grey;
}
.fonctionnement .consigne__flex i, .fonctionnement .consigne__flex p {
  margin-left: 25px;
}
.fonctionnement .consigne__flex:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.fonctionnement .consigne__flex:hover i {
  color: #9356DC;
}

.restaurant {
  width: 100%;
  background-color: #f7f7f7;
  padding: 30px 0px 30px 0px;
}
@media screen and (min-width: 700px) and (max-width: 2000px) {
  .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.restaurant a {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 700px) and (max-width: 2000px) {
  .restaurant a {
    width: 300px;
  }
}
@media screen and (min-width: 700px) and (max-width: 2000px) {
  .restaurant__titre {
    text-align: center;
  }
}
.restaurant__container {
  margin-top: 20px;
  border-radius: 20px;
  position: relative;
  background-color: white;
}
.restaurant__nouveau {
  font-weight: bold;
  padding: 7px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 10px;
  color: #287428;
  background-color: #a8f0ae;
}
.restaurant__legende {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px 15px 15px;
}
.restaurant .fa-heart {
  font-size: 30px;
  margin-top: 15px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  color: transparent;
}
.restaurant .fa-heart:hover {
  animation: coeur 400ms linear both;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0px;
}
@keyframes coeur {
  0% {
    background: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0px;
    opacity: 0;
    transform: scale(1.3);
  }
  100% {
    background: linear-gradient(0.47turn, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0px;
    opacity: 1;
    transform: scale(1);
  }
}
.restaurant__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

footer {
  background-color: #3f3f3f;
  color: white;
  padding: 20px;
}
footer a {
  text-decoration: none;
  list-style: none;
  color: white;
}
@media screen and (min-width: 700px) and (max-width: 2000px) {
  footer {
    display: flex;
    justify-content: space-around;
  }
}
footer .footer__info-flex {
  display: flex;
  align-items: center;
}
footer .footer__info-flex p {
  margin-left: 10px;
}

/* Pages 1,2,3,4---------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/
.header__flex {
  justify-content: center;
}

.fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
  color: black;
  font-size: 30px;
}

.menu .fa-heart {
  font-size: 30px;
  margin-top: 15px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  color: transparent;
  margin-right: 20px;
}
.menu .fa-heart:hover {
  animation: coeur 400ms linear both;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0px;
}

.image-fond {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: -50px;
  position: relative;
  z-index: 0;
}

.menu {
  position: relative;
  z-index: 1;
  padding: 0px;
  padding-bottom: 20px;
  background-color: #f7f7f7;
  border-radius: 20px;
}
.menu__repas {
  animation: apparition 1s linear;
  font-size: 14px;
}
.menu__resto-titre {
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 700px) and (max-width: 2000px) {
  .menu__resto-titre {
    text-align: center;
    width: 100%;
  }
}
.menu__titre-coeur {
  justify-content: space-between;
}
.menu__titre--ligne {
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: #99E2D0 2px solid;
  width: 50px;
}
@media screen and (min-width: 700px) and (max-width: 2000px) {
  .menu__titre--ligne {
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #99E2D0;
  }
}
.menu .prix-slide {
  display: flex;
  align-items: center;
  width: 170px;
  position: relative;
  right: -90px;
  margin-bottom: -30px;
  margin-left: -50px;
  transition: right 400ms ease-in-out;
}
.menu .slide {
  width: 120px;
  height: 135%;
  position: relative;
  margin-bottom: -20px;
  background-color: #99E2D0;
}
.menu .slide i {
  margin-top: 35px;
  margin-left: 25px;
  font-size: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #99E2D0;
  transform: rotate(0deg);
}
.menu__titre-menu--flex :first-child {
  margin-bottom: -5px;
}
.menu__vignette {
  height: auto;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  padding-left: 10px;
  margin-bottom: 30px;
  animation: apparition 1s linear;
}
.menu__vignette :hover p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 70%;
}
.menu__vignette :hover .prix-slide {
  transition: right 400ms ease-in-out;
  right: -1px;
}
.menu__vignette :hover .fa-check {
  animation: checkRotation 400ms linear;
}
@keyframes checkRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 700px) and (max-width: 2000px) {
  .menu__vignette {
    width: 80%;
    margin: 20px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
  }
}
.menu__vignette p {
  margin-left: 5px;
  width: 100%;
}
.menu__vignette--flex {
  display: flex;
  justify-content: space-between;
}
.menu__vignette--flex :first-child {
  width: 100%;
}

.page__bouton {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* version site web---------------------------------------------------------------*/
@keyframes apparition {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
