@import "variable.scss";
@import "mixin.scss";
@import "placeholder.scss";


body{
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	animation: body 3s linear;
}

.loader{
	width: 100%;
	position:absolute;
	background-color: white;
	z-index: -10;
	animation: loader 3s linear;
	display: flex;
	justify-content: center;

	.load{
			position:fixed;
			top: 42%;
			left:45%;
			width: 100px;
			height: 100px;
			border: 10px solid $secondaire;
			border-radius: 50%;
			animation: load 1s linear;
			animation-iteration-count: 3;
			opacity: 0;
		
	}
}


@keyframes loader{
	0%{
		height: 600%;
		z-index: 10;
	}
	100%{
		height: 600%;
		z-index: 10;}
}

@keyframes load{
	0%{
		transform: scale(1);
		opacity: 1;}
	50%{
		transform: scale(1.3);
		
	}
	100%{
		transform: scale(1);
		
	}
}

.logo{
	font-family: 'Shrikhand', cursive;
}


.btn{
	@include centrer;
	@extend %ombre;
	height: 40px;
	background: linear-gradient(0.47turn,$secondaire,$primaire);
	border-radius: 30px;
	margin: auto;
	padding:5px;
	transition: box-shadow 100ms linear;
	&:hover{
		box-shadow: 0px 10px 7px rgb(182, 182, 182);
		background: linear-gradient(0.47turn,lighten($secondaire,5%),lighten($primaire,5%)); 
		
}

	a{
		text-decoration: none;
		color: white;
		
	}
}



.titre{
	font-size: 20px;
	font-weight: 600;
}

.titre-vignette{
	font-size: 16px;
	font-weight: 600;

}

.header{
	@extend %ombre;
	background-color: white;
	position: relative;
	&__logo{
		text-align: center;
		font-size: 45px;
		margin: 0px;
	}
}
.intro{
	width: 100%;
	text-align: center;
	background-color: $fond;
	padding-bottom: 50px;

	&__localisation{
		@include centrer;
		background-color: darken($fond,7);
		
		p{
			margin-left: 20px;
		}
	}
	
	&__presentation{
		@extend %centrer-bloc;

		.intro__titre{
			padding-top: 20px;
			font-size: 25px;
			font-weight: 600;
		}
		.intro__decouvrez{
			font-size: 18px;
			padding-bottom:10px; 
			font-weight: 100;
			color: rgb(92, 92, 92);
		}
	}
	&__btn {
		@extend .btn;
		width: 200px;
	}
	
}



.fonctionnement{
	@extend %centrer-bloc;

	&__titre{
		@include media{
			text-align: center;
			
		}
	}
	&__consigne{
		width: 100%;
		margin: auto;
		display: flex;
		margin-bottom: 40px;
		@include media {
			width: 70%;
		}
		
		.consigne__cercle{
			@include centrer;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: $primaire;
			color: white;
			margin-right: -20px;
			z-index: 2;
			margin-top: 35px;
			
		}
	}


	.consigne__flex{
		@extend %flex-align;
		width: 85%;
		padding: 10px;
		background-color: $fond;
		border-radius: 20px;
		@extend %ombre;
		margin:10px;
		
		i{
			color: grey;
		}
		i,p{
			margin-left: 25px;
		}
	}
	.consigne__flex:hover{
		background-color: rgb(234, 255, 249);
		i{
			color: $primaire;
		}
	} 

}

.restaurant{
	width: 100%;
	background-color: $fond;
	padding: 30px 0px 30px 0px;
	@include media {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	a{
		text-decoration: none;
		color: black;
		@include media{
			width: 300px;
		}
	}
	&__titre{
		@extend %centrer-bloc;
		@include media{
			text-align: center;
			
		}
	}
	&__container{
		@extend %centrer-bloc;
		@extend %ombre;
		margin-top: 20px;
		border-radius: 20px;
		position: relative;
		background-color: white;

	
	}
	&__nouveau{
		font-weight: bold;
		padding: 7px;
		border-radius: 5px;
		position: absolute;
		top: 0;
		right: 10px;
		color: rgb(40, 116, 40);
		background-color:rgb(168, 240, 174) ;
	}

	
	&__legende{
		display: flex;
		justify-content: space-between;
		margin: 0px 15px 15px 15px ;
	}
	.fa-heart{
		font-size:30px;
		margin-top: 15px;
		-webkit-text-stroke-width: 3px;
		-webkit-text-stroke-color:black;
		color:transparent;
		

		&:hover{

			animation:coeur 400ms linear both; 
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width:0px;
  			
		}
	}
	@keyframes coeur {
		0%{
			background:transparent;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width:0px;
			opacity: 0;
			transform: scale(1.3);
		}

		100% { background: linear-gradient(0.47turn,$secondaire,$primaire);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width:0px;
			opacity: 1;
			transform: scale(1);
		}
		
	}





	&__img{
		width:100%;
		height:200px;
		object-fit: cover;
		border-radius: 20px 20px 0px 0px;
	}
	
}

footer{
	background-color: rgb(63, 63, 63);
	color: white;
	padding: 20px;
	width: 100%;
	@include media{
		display: flex;
		justify-content: space-around;
	}
	.footer__info-flex{
		display: flex;
		align-items: center;
		p{
			margin-left: 10px;
		}
	}
}



/* Pages 1,2,3,4---------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/




.header__flex{
	@extend %flex-align;
	justify-content: center;
}

.fa-arrow-left{
	position: absolute;
	top:20px;
	left:20px;
	color: black;
	font-size: 30px;
}







.menu .fa-heart{
	font-size:30px;
	margin-top: 15px;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color:black;
	color:transparent;
	margin-right: 20px;
	

	&:hover{

		animation:coeur 400ms linear both; 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width:0px;
		  
	}
}




.image-fond{
	width: 100%;
	height: 400px;
	object-fit: cover;
	margin-bottom: -50px;
	position: relative;
	z-index: 0;
}

.menu{
	position: relative;
	z-index: 1;
	padding: 0px;
	background-color: $fond;
	border-radius: 20px;

	&__repas{
		animation:apparition 1s linear;
		font-size: 14px;
	}

	&__resto-titre{
		font-family: 'Shrikhand', cursive;
		@include media{
			text-align: center;
			width: 100%;
		}
	}

	&__titre-coeur{
		@extend %flex-align;
		justify-content: space-between;
	}

	&__titre--ligne{
		margin-top: 40px;
		padding-bottom:10px;
		border-bottom: $tertiaire 2px solid;
		width: 50px;
		@include media{
			text-align: center;
			width: 100%;
			border-bottom:10 px solid black;
		}

	}
	.prix-slide{
		display: flex;
		align-items: center;
		width:170px;
		
		  position: relative;
		  right:-90px;
		  margin-bottom:-30px;
		  margin-left: -50px;
		  transition: right 400ms ease-in-out;
	}

	.slide{ 
		width:120px;
		  height:135%;
		  position: relative;	  
		  margin-bottom:-20px;
		background-color:$tertiaire ;
		i{
			margin-top:35px;
			margin-left: 25px;
			font-size: 15px;
			width:30px;
			height:30px;
			border-radius: 50%;
			background-color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			color:$tertiaire;	
			transform:rotate(100deg);
			
		}
	}

	&__titre-menu--flex{
		:first-child{
			margin-bottom: -5px;
		}

	}
	&__vignette{
		height: auto;
		overflow: hidden;
		background-color: white;
		border-radius: 15px;
		padding-left: 10px;
		margin-bottom: 30px;
		@extend %ombre;
		animation:apparition 1s linear;
		:hover p{
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			width: 70%;
		}

		:hover  .prix-slide{
			transition: right 400ms ease-in-out;
			right:-1px;
		}

		:hover  .fa-check{
			transition: transform 500ms ease-in-out;
			transform:rotate(0deg);
		}

		@include media{
			width: 80%;
			margin: 20px;
			margin-bottom: 45px;
			margin-left: auto;
			margin-right: auto;
		}

		p{
			margin-left: 5px;
			width: 100%;
		}


	}
	&__vignette--flex{
		display: flex;
		justify-content: space-between;
		:first-child{
			width: 100%;
		
		}
	}
	
	
}

.page__bouton{
	margin-top: 50px;
	margin-bottom: 50px;
}


/* version site web---------------------------------------------------------------*/ 


@keyframes apparition{
	0%{opacity:0;
	margin-top:100px;}
	100%{opacity:1;
	margin-top:0px;}
}
